package ${g_scheme.packageName}.dao;

import com.xinleju.platform.base.dao.BaseDao;
import ${g_scheme.packageName}.entity.${g_systable.className};

/**
 * @author ${g_scheme.author}
 *
 */

public interface ${g_systable.className}Dao extends BaseDao<String, ${g_systable.className}> {
	
	

}
